[Unit]
Description=CloudStack Guest Password Reset
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/cloud-set-guest-password

[Install]
WantedBy=multi-user.target

